@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./font.css");

body {
  font-family: "Ruwudu";
  color: white;
  background: hsl(218, 23%, 16%);
  min-height: 100vh;
  direction: rtl;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #565656;
}
::-webkit-scrollbar-thumb:hover {
  background-color: indianred;
}
