@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./font.css");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.rwd {
  font-family: "Ruwudu";
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: monospace;
  background: #242424;
  min-height: 100vh;
  background-image: url("/mosque.jpg");
  background-size: cover;
}
.rtl {
  direction: rtl;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--main-color);
}
::-webkit-scrollbar-thumb {
  background-color: #312b50;
}
::-webkit-scrollbar-thumb:hover {
  background-color: indianred;
}